<nav>
  <div class="site-title">
    <a href="/"><h1>To be altered</h1></a>
    <p>To be altered</p>
  </div>
  <ul>
    <li><a href="/">Blogs</a></li>
    <li><a href="/about">About</a></li>
    <li><a href="/blogs/create">New Blog</a></li>
    <li><a href="/profile">Profile</a></li>
  </ul>
</nav>