<html lang="en">
<%- include("./partials/head.ejs") %>

<body>
  <%- include("./partials/nav.ejs") %>

  <main>
    <section id="education">
      <h1>Education</h1>
      <p>Yorku-ITEC</p>
    </section>
  </main>

  <%- include("./partials/footer.ejs") %>
  <script src="/js/main.js"></script>
</body>
</html>