<html lang="en">
<%- include("./partials/head.ejs") %>

<body>
  <%- include("./partials/nav.ejs") %>

  <main>
    <section id="experience">
      <h1>Experience</h1>
      <p>Web development, data analysis, Node.js projects.</p>
    </section>
  </main>

  <%- include("./partials/footer.ejs") %>
  <script src="/js/main.js"></script>
</body>
</html>