<html lang="en">
<%- include("./partials/head.ejs") %>

<body>
  <%- include("./partials/nav.ejs") %>
<!--Frontend:Dynamic Assistant(Darrell)-->
<div id ="assistant-bubble">
  <div class="avatar">AI</div>
  <div class="text" id="assistant-text">Loading...</div>
</div>

<main>
  <section id="about">
    <h1>Home page</h1>
    <p>Evaluate ChatGPT efficieny across domain.</p>
  </section>
</main>

<%- include("./partials/footer.ejs") %>
<script src="/js/main.js"></script>
</body>
</html>