<html lang="en">
<%- include("./partials/head.ejs") %>

<body>
  <%- include("./partials/nav.ejs") %>
<!--Frontend:Dynamic Assistant(Darrell)-->
<div id ="assistant-bubble">
  <div class="avatar">AI</div>
  <div class="text" id="assistant-text">Loading...</div>
</div>

<!--Frontend:Hash Routing Container
    all page(/about, /education, /experience,and /project.)
    by main.js-->
<main id="content"></main>

<%- include("./partials/footer.ejs") %>
<script src="/js/main.js"></Script>
</body>
</html>