@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:wght@400;700&display=swap');

html,body{
  height: 100%;
  margin:0;
}

body{
    max-width: 1200px;
    margin: 20px auto;
    padding: 0 20px;
    font-family: 'Noto Serif', serif;
    max-width: 1200px;
    background-color: rgb(158, 186, 158);

    display: flex;
    flex-direction: column;
  }

main{
  flex:1;
}

#about{
  max-width: 700px;
  margin-top: 80px;
  margin-left: 120px;
  text-align: left;
}

#about h1{
  font-size: 2.8em;
  font-weight: 700;
  margin-bottom:10px
}

#about p{
  font-size: 1.2em;
  color: #555;
}

    /* nav & footer styles */
nav{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding-bottom: 10px;
  border-bottom: 1px solid #ddd;
  text-transform: uppercase;
}

nav .site-title p {
  margin-top: -8px;
  font-size: 0.9em;
  color: #555;
}

nav ul{
  display: flex;
  flex-direction: row;
  gap: 20px;
  margin-top: 10px;
  padding: 0;
}

nav li{
  list-style-type: none;
}

nav a {
  color: #0066cc;
  font-weight: 700;
  text-decoration: none;
}

nav a:hover {
  text-decoration: underline;
}

footer{
      color: #777;
      text-align: center;
      margin: 40px auto 20px;
}

#assistant-bubble{
  position: fixed;
  right: 30px;
  bottom: 30px;
  background: white;
  border: 1px solid #ddd;
  border-radius: 50px;
  padding: 12px 18px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  display: flex;
  align-items: center;
}

#assistant-bubble .avatar {
  background: black;
  color: white;
  padding: 10px 12px;
  border-radius: 50%;
  margin-right: 10px;
}